

/******************************************* TYPOGRAPHY *****************************************/

@font-face {
    font-family: 'covesbold';
    src: url('../fonts/coves/coves_bold-webfont.woff2') format('woff2'),
         url('../fonts/coves/coves_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'coveslight';
    src: url('../fonts/coves/coves_light-webfont.woff2') format('woff2'),
         url('../fonts/coves/coves_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p{
	font-family: 'coveslight', helvetica, sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    font-kerning: inherit;
    text-rendering: optimizeLegibility;
}

a{
	color: #424242;
}

strong{
	font-family: 'covesbold', helvetica, sans-serif;
}

h1,h2,h3,h4{
	font-family: 'covesbold', helvetica, sans-serif;
}

h1{
	font-size: 60px;
    line-height: 64px;
}

h2{
	font-size: 35px;
    line-height: 39px;
    color: #3a3a3a;
}

h3{
	font-size:20px;
	line-height:24px;
}

/******************************************* MAIN *****************************************/

html,body{
	font-family: 'coveslight', helvetica, sans-serif;
	margin:0px;
	padding:0px;
	background: #fafafa;
	height:100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.disable-scroll{
	overflow-y:hidden;
}

.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/******************************************* SPACING *****************************************/

.no-marg-bot{
	margin-bottom: 0px;
}

.fill-height{
	height:100%;
}


.col-fill-height > .col{
	height:100%;
}


/******************************************* NAV *****************************************/

#mobile-nav{
	position: absolute;
    bottom: 0px;
    width: 100%;
    background: white;
    height: 50px;
}

#project_nav{
	position: absolute;
	bottom:0;
    width: 100%;
    z-index: 0;
}

#prev_project{
	float: left;
}

#next_project{
	float: right;
}

#menu, #mobile_menu{
	left: 10px;
    position: relative;
    top: 5px;
	cursor:pointer;
}

#mobile_menu{
	top:50%!important;
	transform:translateY(-50%);
}

#menu i, #mobile_menu i{
	color: #e0e0e0;
}

#contact_details{
	position: absolute;
    bottom: 170px;
    right: -40px;
}

#contact_details_mob{
	position: absolute;
    right: 130px;
    bottom: 15px;
}

#social_bar{
	position: absolute;
    bottom: 0px;
    right: 10px;
    padding: 10px 0;
}

#social_bar a{
	display: block;
}

#social_bar_mob{
	position:absolute;
	right: 10px;
	bottom:10px;
}

/******************************************* ANIMATION *****************************************/

@keyframes moveleft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

@keyframes moveright {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes blurOn {
  to {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
  }
}
    
@keyframes blurOff {
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
  }
}



.blur{
   filter: blur(18px);
   -webkit-filter: blur(18px); 
}


.blur-off{
   -webkit-animation: blurOff 0.5s linear forwards;
  -moz-animation: blurOff 0.5s linear forwards;
  -ms-animation: blurOff 0.5s linear forwards;
  -o-animation: blurOff 0.5s linear forwards;
  animation: blurOff 0.5s linear forwards;
  /*-webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;*/
}
    
.blur-on{
   -webkit-animation: blurOn 0.5s linear forwards;
  -moz-animation: blurOn 0.5s linear forwards;
  -ms-animation: blurOn 0.5s linear forwards;
  -o-animation: blurOn 0.5s linear forwards;
  animation: blurOn 0.5s linear forwards;
  /*-webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;*/
}


/******************************************* MOBILE *****************************************/

/*@media(max-width:415px){
	.grid-title{
		bottom:0%;
	}	
}
*/

.mobile-device .grid-title{
	display:none;
}

.hide-desktop{
		display:block;
	}

.hide-desktop{
		display:block;
	}

@media(max-width:600px){
	

	
.mobile_text_section {
    display: none;
    padding: 50px 50px!important;
}

.mobile_title_section{
	padding: 40px 50px 0px!important;
}

}

@media(min-width:600px) and (max-width:979px){


.mobile_text_section {
    display: none;
    padding: 60px 150px!important;
}

.mobile_title_section{
	padding: 40px 150px 0px!important;
}


}


@media(max-width:979px){

	.white-arrow{
		width: 70%!important;
		padding: 40px 0px!important;
	}
	
	.arrow-next img{
		position:relative;
		left:25px;
	}
	
	.hide-desktop{
		display:none!important;
	}

}

@media(min-width:980px){
	.hide-mobile{
		display:none!important;
	}
}

@media(max-width:979px){
	
#project_nav_mobile{
    display: block!important;
}


.project-slide[data-slideid="0"]{
	margin-top:50px!important;
}

.project-slide{
	padding:0px!important;
}

.grid-title h3 {
    font-size: 50px!important;
    line-height: 70px!important;
    letter-spacing: -2px!important;
}

.grid-slide:hover .grid-title{
	bottom:40%!important;
}

.mobile_text_section{
	display:block!important;
	padding: 20px 20px;
}
	
}


@media(min-width:1400px){
	
	#project-preview img.project-slide{
		width: 60%!important;
		padding: 0px 5px 0px 5px;
		margin: 0 auto;
    	display: block;
	}	
}

@media(max-height:500px){
	#slide-info {
    	padding: 0px 40px!important;
		top: -50px!important;
	}
}

/*.mobile #grid-wrap.on #mobile-nav {
	position: fixed!important;
}*/
	
.mobile #grid-wrap {
	position: absolute!important;
}

/*.mobile #project-info {
    width: 0px;
}*/



/******************************************* SECTIONS *****************************************/

.mobile_text_section{
	display:none;
}

#index-banner{
	position: relative;
    z-index: 1;
}

#landing-section{
	width: 100%;
    background: black;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 2;
    padding: 80px;
	color:white;
	text-align: center;
    padding: 20%;
}

/*#landing-cta{
	color:#f99494;
}*/

/*#project-section{
	height: 100%;
    position: relative;
    z-index: 0;
}*/

#project_nav_mobile{
    display: none;
}


#project-section{
	height: 100%!important;
    overflow:hidden;
    top: 0;
}

#project-info{
	width: 500px;
    height: 100%;
    background: #fafafa;
    display: block;
    position: fixed;
    z-index: 0;
    color: #424242;
}

#project-info-wrap{
	float:right;
	position: relative;
    height: 100%;
}

#project-preview{
    z-index: 0;
    position: relative;
    width: 700px;
    float: right;
	overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
    /* position: relative; */
    height: 100%;
}

#project-preview_off{
	height:100%;
	width:400px;
	overflow-y:auto;
}

#project-preview img{
    width: 100%;
    padding: 0px 5px 0px 5px;
}

#project-title{
	padding:40px;
}

#slide-info{
	padding:40px;
	top: 0px;
    position: relative;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.renault {
    background: #ffd260;
    color: #ffffff;
}

.photography-brightred {
    background: #ff0437;
    color: #ffffff;
}

.photography2-brown {
    background: #330a14;
    color: #ffffff;
}

.mud {
    background: #bd5c57;
    color: #ffffff;
}

.faildeadly {
    background: #354c46;
    color: #ffffff;
}

.lexus {
    background: #1c1c1c;
    color: #ffffff;
}

.hearthesilence{
    background: #e6e6e6;
    color: #020202;
}

/******************************************* GRID *****************************************/

.row{
	height:50vh;
}

.grid-slide{
	height: 50vh;
	display:flex;
	padding:0px!important;
	overflow:hidden;
	position:relative;
	background-color: #101010;
}

.grid-title{
	color: white;
    position: absolute;
    bottom: -220px;
    left: 0%;
    right: 0%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	-webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 20px;
	cursor: pointer;
	padding:20px;
}

.grid-title h3{
	font-size: 70px;
    line-height: 80px;
    opacity: 0;
    text-align: left;
    letter-spacing: -4px;
}

.grid-slide:hover .grid-title{
	bottom:0%;
}

.grid-slide:hover .grid-title h3{
	opacity:1;
}

.grid-slide img{
	display:block;-webkit-transition: all .8s ease-in-out;    
	transition: all .8s ease-in-out;
	cursor:pointer;width:100%!important;
	position:relative;
	/*-webkit-filter: grayscale(100%);filter: grayscale(100%);*/
	opacity: 0.8;
	/*left:50%; top:50%;transform:translateX(-50%, -50%);*/        
	object-fit:cover!important;
}

.mobile .grid-slide img{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.grid-slide:hover img{
	opacity: 0.7;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}


#grid-wrap{
   height: auto;
   overflow-y: scroll;
   background: #fafafa;
   position:fixed;
   width: 100%;
/*
   transition-property: all;
   transition-duration: 0s;
   transition-timing-function: ease;
*/
   /*-webkit-backface-visibility: hidden;*/
   /*-webkit-transform: translate3d(0px,0px,0px);
	transform: translate3d(0px,0px,0px);*/
	/*transition: transform 100ms;*/
}

/*
#grid-wrap.animating{
	transition-property: -webkit-transform;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
}
*/

#grid-left{
	float: none; 
    width: auto;
    /*overflow: hidden;*/
    overflow-y:scroll;
}

#grid-right{
	width: 50px;
    float: right;
}

.left {
    float: none;
    background: #e8f6fe;
    width: 300px;
    overflow-y: scroll;
    position: relative;
    height: 100%;
}


/******************************************* VIDEO *****************************************/

.landing-video-container{
}

.m-video{	
}

.m-video__inner iframe{
	width: 100%;
    height: 100%!important;
    top: 0px;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 1;
}

.landing-text {
    position: absolute;
    z-index: 2;
    bottom: 100px;
    width: 100%;
    left: 0;
}

#landing-section .overlay{	
	background: #1b1919;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
	 background-image: url("../assets/images/hero.jpg")!important;
	 background-repeat: no-repeat;
	 background-size:cover;
	 background-position:center center;
}


/* Adjustments for additional slides and fixing overflow scrolling */


#grid-wrap{
overflow-x:hidden;
overflow-y:hidden;
}


#grid-left{
overflow-y:scroll;
overflow-x:hidden;
height:100vh;
}


#showcase{
height:100vh!important;
}




   